.ordersMainContainer {
    margin-top: 80px;

    .title {
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 146.187%;
        color: #FFFFFF;
        text-align: right;
        margin: 0px;
    }

    .dropDownContainer {
        display: flex;
        justify-content: end;
        gap: 16px;

        :global(.ant-select) {
            :global(.ant-select-selector) {
                padding: 24px 29px;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 169.688%;
                color: #FFFFFF;
                background-color: transparent;
                border: 1px solid #2E3FDA33;
                width: max-content;
            }

            :global(.ant-select-arrow) {
                color: #FFFFFF;
                top: 76%;
            }
        }

        :global(.ant-input-affix-wrapper) {
            background-color: transparent;
            color: #FFFFFF;
            max-width: 150px;
            width: 100%;
            border: 1px solid #2E3FDA33;
            height: 50px;

            :global(.ant-input) {
                background-color: transparent;
                color: #FFFFFF;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 152%;

                &::placeholder {
                    color: #FFFFFF;
                }
            }

            :global(.anticon) {
                svg {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }

    .orderTableContainer {
        margin-bottom: 40px;

        .orderTitle {
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 131.687%;
            text-align: right;
            color: #FFFFFF;
            margin-bottom: 50px;
            margin-top: 36px;
        }

        :global(.ant-table) {
            table {
                thead {
                    tr {
                        th {
                            background-color: #2C2D32;
                            color: #FFFFFF;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            text-align: center;
                            width: 100px;
                            padding: 20px;
                            border-bottom: 0px solid;

                            &::before {
                                background-color: #2C2D32 !important;
                            }
                        }
                    }
                }

                tbody {
                    tr {

                        td {
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            color: #E3D7FC;
                            border-bottom: 5px solid #0A0A0A;
                            margin-bottom: 2px;
                            text-align: center;
                            padding: 20px;
                            background-color: #1B1B1D;


                        }
                    }

                    :global(.ant-table-row) {

                        :global(.ant-table-cell-row-hover) {
                            background-color: #1B1B1D;
                        }
                    }
                }
            }
        }

        :global(.ant-pagination) {
            display: none;
        }
    }
}